:root {
  --primary-color: #ff6f61;
  --white-color: #ffffff;
  --black-color: #000000;
  --text-color: #333333;
  --border-color: #dbdbdb;
  --header-height: 140px;
  --navbar-height: 68px;
  --header-with-search-height: 72px;
}
* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
}
p {
  font-size: 1.6rem;
  color: var(--text-color);
}
.grid {
  width: 1500px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width {
  width: 100%;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}
/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  animation: fadeIn 0.3s ease-in-out;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__body {
  width: 500px;
  height: 450px;
  margin: auto;
  z-index: 1;
  border-radius: 5px;
  animation: growth 0.3s linear;
}
/* button style */
.btn {
  min-width: 130px;
  height: 35px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.6rem;
  font-family: "Times New Roman", Times, serif;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.btn.btn--size-s {
  height: 33px;
  width: 222px;
}
.btn.btn--primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}
.btn.btn--disable {
  cursor: default;
  background-color: #eae5e5;
}
