.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #f6412d, #fc6232);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  padding-top: 20px;
  font-weight: 100;
  margin-top: 4px;
}

.header__navbar-item {
  margin: 0 8px 8px 0;
  position: relative;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 2.1rem;
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}
.header__navbar-item--strong {
  font-weight: 550;
  margin-bottom: 0;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 16px;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f9705c;
}
.header__navbar-item--bonus {
  margin-left: 0;
}
.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}
.header__navbar-title--no-poiter {
  cursor: text;
  color: var(--white-color);
}

/* header QR Code */
.header__navbar-item--has-qr {
  position: relative; /* Đặt vị trí cho phần tử chứa */
}
.header__qr {
  width: 200px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: 200%;
  padding: 8px;
  border-radius: 2px;
  z-index: 9999;
  display: none;
  animation: fadeIn 0.5s ease-in;
}
.header__qr::before {
  content: "";
  position: absolute;
  width: 100%;
  display: block;
  left: 0;
  height: 20px;
  top: -18px;
}
.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}
.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}
.header__qr-img {
  width: 100%;
}
/* .header__qr-link:nth-child(1) {
  margin-right: 12px;
}
.header__qr-link:nth-child(2) {
  margin-left: 12px;
} */
.header__qr-apps {
  display: flex;
  justify-content: space-between;
}
.header__qr-download-img {
  height: 20px;
}
.header__notify {
  position: absolute;
  z-index: 9999;
  top: 140%;
  border: 1px solid #d3d3d3;
  width: 450px;
  right: 0;
  background-color: var(--white-color);
  transform-origin: top right;
  animation: headerNotifyGrowth 0.3s ease-in;
  will-change: opacity, transform;
  display: none;
}
.header__notify::before {
  content: "";
  border-style: solid;
  border-width: 20px 30px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -27px;
  right: 12px;
}
.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  width: 110px;
  height: 20px;
  top: -13px;
  right: 0;
}
@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.header__notify-header {
  height: 30px;
  background-color: var(--white-color);
  user-select: none;
}
.header__notify-header h3 {
  color: #999;
  margin-top: 10px;
  margin-left: 5px;
  line-height: 30px;
  font-weight: 300;
}
.header__notify-list {
  padding-left: 0;
}
.header__notify-item--viewed {
  background-color: rgba(255, 111, 97, 0.1);
}
.header__notify-item {
  margin-top: 5px;
  margin-bottom: 5px;
}
.header__notify-item :hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.header__notify-link {
  display: flex;
  padding-left: 5px;
  padding-top: 10px;
  text-decoration: none;
}
.header__notify-img {
  width: 42px;
  object-fit: contain;
}
.header__notify-info {
  margin-left: 8px;
}
.header__notify-name {
  font-weight: 550;
  display: block;
  font-size: 1, 8rem;
  color: var(--text-color);
  line-height: 20px;
}
.header__notify-description {
  margin-top: 5px;
  display: block;
  font-size: 1.4rem;
  color: #756f6e;
}
.header__notify-footer {
  display: flex;
}
.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 10px;
  margin: auto;
}

/* authen modal */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}
.auth-form__container {
  padding: 0 20px;
}
.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth-form__heading {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--text-color);
}
.auth-form__switch-btn {
  font-size: 1.9rem;
  color: #f6412d;
  font-weight: 545;
  cursor: pointer;
}
.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 0 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  border-radius: 2px;
  border: 1px solid var(--border-color);
}
.auth-form__input:focus {
  outline: none;
  border-color: #888;
}
.auth-form__policy-text {
  font-size: 1.6rem;
  line-height: 20px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.auth-form__text-link {
  color: #f6412d;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}
.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}
.auth-form__controls-back {
  margin-right: 12px;
}
.auth-form__socials {
  background-color: #f5f5f5;
  padding: 14px 22px;
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  margin-top: 20px;
}
.auth-form__socials-icon {
  font-size: 2.4rem;
  margin-right: 8px;
}
.auth-form__socials--facebook {
  color: var(--white-color);
  background-color: #3b5998;
}
.auth-form__socials--facebook .auth-form__socials-icon {
  color: var(--white-color);
}
.auth-form__socials--google {
  color: var(--text-color);
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
}
.auth-form__socials-title {
  margin: 0 24px;
}
.auth-form__help {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.auth-form__help-link {
  font-size: 1.8rem;
  text-decoration: none;
  color: #939393;
}
.auth-form__help-separate {
  display: block;
  height: 17px;
  margin-left: 8px;
  margin-right: 8px;
  border-left: 2px solid #d3d3d3;
}
.auth-form__help-forgot {
  color: #f6412d;
}
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
}
.header__logo {
  width: 200px;
}
.header__logo-img {
  width: 150px;
}
.header__search {
  flex: 1;
  height: 45px;
  background-color: var(--white-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.header__cart {
  width: 200px;
  height: 30px;
  text-align: center;
}
.header__cart-wrapper {
  position: relative;
  display: inline-block;
  padding: 0 10px;
}
.header__cart-icon {
  font-size: 2.6rem;
  color: var(--white-color);
}

.header__cart-wrapper:hover .header__cart-list {
  display: block;
}

.header__cart-list {
  position: absolute;
  top: 148%;
  right: 8px;
  width: 400px;
  height: 300px;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: none;
}
.header__cart-list::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  top: -30px;
  right: 0;
  border-width: 17px 25px;
  display: block;
}
.header__cart-list-no-cart {
  padding: 28px 0;
}
.header__cart-no-cart-img {
  width: 60%;
}
.header__cart-list-no-cart-msg {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: #999;
}
.header__search-input-wrapper {
  flex: 1;
  height: 100%;
  position: relative;
}
.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 12px;
  border-radius: 3px;
}
.header__search-select {
  border-left: 2px solid var(--border-color);
  padding-left: 16px;
}
.header__search-select-label {
  font-size: 1.8rem;
  color: black;
}
.header__search-select-icon {
  font-size: 1.5rem;
  color: rgb(131, 131, 131);
  margin: 0 16px 0 8px;
  position: relative;
  top: -1px;
}
.header__search-btn {
  background-color: #f6412d;
  border: none;
  height: 37px;
  padding: 0 10px;
  margin-right: 5px;
  border-radius: 3px;
  width: 60px;
  outline: none;
}
.header__search-btn:hover {
  background-color: #fc6232;
  cursor: pointer;
}
.header__search-btn-icon {
  font-size: 1.6rem;
  color: var(--white-color);
}
.header__search-input:focus ~ .header__search-history {
  display: block;
}
.header__search-history {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: none;
}
.header__search-history-heading {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  color: #999;
  margin: 10px 12px;
}
.header_search-history-list {
  padding-left: 0;
  list-style: none;
}
.header__search-history-item {
  height: 38px;
  cursor: pointer;
}
.header__search-history-item:hover {
  background-color: #f5f5f5;
}
.header__search-history-item a {
  text-decoration: none;
  padding: 0 12px;
  line-height: 38px;
  color: var(--text-color);
  font-size: 1.6rem;
}
/* app container */
.app__container {
  background-color: #f5f5f5;
}
.app__content {
  padding-top: 20px;
}
.category {
  background-color: var(--white-color);
  border-radius: 2px;
}
.category__heading {
  color: var(--text-color);
  font-size: 2.1rem;
  padding: 12px 16px;
  border-bottom: 1px solid #d3d3d3;
  margin-top: 0;
}
.category__heading-icon {
  font-size: 2.1rem;
  margin-right: 3px;
  position: relative;
  top: 1px;
}
.category-list {
  padding-left: 0;
  list-style: none;
  padding-bottom: 10px;
}

.category-item-link {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.8rem;
  padding: 12px 16px;
  display: block;
  font-weight: 500;
  right: 0;
  transition: right 0.3s ease-in-out;
  font-family: "Times New Roman", Times, serif;
}
.category-item-link:hover {
  right: -4px;
  color: #f6412d;
  cursor: pointer;
}
.category-item--active .category-item-link::before {
  content: "";
  position: absolute;
  border: 5px solid;
  border-color: transparent transparent transparent #f6412d;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
}
/* home sort + filter */
.home-filter {
  position: relative;
  display: flex;
  background-color: rgba(0, 0, 0, 0.03);
  align-items: center;
  padding: 8px 12px;
  border-radius: 3px;
}
.home-filter__btn {
  background-color: white;
  margin-right: 12px;
  min-width: 100px;
}
.home-filter__label {
  font-size: 1.6rem;
  color: #757575;
  margin-right: 12px;
}
.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.home-filter__page-num {
  font-size: 1.9rem;
  color: var(--text-color);
  margin-right: 22px;
  font-family: "Times New Roman", Times, serif;
}
.home-filter__page-current {
  color: #f6412d;
}
.home-filter__page-control {
  border-radius: 2px;
  display: flex;
  width: 92px;
  height: 36px;
}
.home-filter__page-btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--white-color);
  border: none;
  text-decoration: none;
}
.home-filter__page-btn:first-child {
  border-right: 1px solid #d3d3d3;
}
.home-filter__page-icon {
  text-decoration: none;
}
.home-filter__page-btn--disabled {
  background-color: #f9f9f9;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
  color: #b5b5b5;
  cursor: not-allowed;
}
/* product item */
.home-product-item {
  background-color: var(--white-color);
  margin-top: 10px;
  position: relative;
}
.home-product-item__img {
  background-repeat: no-repeat;
  background-size: contain;
}
.home-product-item__img img {
  display: block; /* tránh khoảng trắng dưới ảnh */
  width: 100%; /* chiếm hết chiều rộng cha */
  height: auto; /* giữ tỉ lệ ảnh */
  object-fit: contain; /* không cần thiết ở chế độ height:auto, an toàn để có */
}
.home-product-item__name {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
  line-height: 1.8rem;
  margin: 10px;
  height: 3.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.home-product-item__price {
  display: flex;
  margin-left: 10px;
  align-items: baseline;
}
.home-product-item__price-old {
  font-size: 1.4rem;
  color: #9e9e9e;
  text-decoration: line-through;
  font-weight: 400;
}
.home-product-item__price-current {
  font-size: 1.8rem;
  color: #f6412d;
  font-weight: 550;
  font-family: "Times New Roman", Times, serif;
  margin-left: 8px;
}
.home-product-item__action {
  display: flex;
  align-items: center;
  margin: 15px 10px 0;
  justify-content: space-between;
}
.home-product-item__like {
  font-size: 1.6rem;
  color: #131010;
}
i.home-product-item__like-icon-fill {
  display: none;
  color: #f6412d;
  cursor: pointer;
}
.home-product-item__like--liked i.home-product-item__like-icon-fill {
  display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none;
}
.home-product-item__rating {
  font-size: 1rem;
  color: #ffce3d;
  margin-left: auto;
}
.home-product-item__sold {
  font-size: 1.4rem;
  color: black;
  margin-left: 8px;
  margin-bottom: 2px;
}
.home-product-item__origin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 10px 0;
  color: #595959;
  font-size: 1.6rem;
}
.home-product-item__favourite {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8px;
  width: 82px;
  font-size: 1.3rem;
  height: 1.8rem;
  line-height: 1;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #f6412d;
  background-color: currentColor;
  top: 10px;

  left: -4px;
  font-weight: 500;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.home-product-item__favourite span {
  color: var(--white-color);
}
.home-product-item__favourite::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}
.home-product-item .home-product-item__favourite i {
  color: var(--white-color);
  font-size: 1rem;
  margin-right: 4px;
  margin-left: 0;
  display: inline-block;
}
.home-product-item__sale-off {
  position: absolute;
  width: 40px;
  height: 33px;
  top: 0;
  right: 0;
  text-align: center;
  background-color: rgba(255, 216, 64, 0.9);
}
.home-product-item__sale-off::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 20px 6px;
  border-style: solid;
  border-color: transparent rgba(255, 216, 64, 0.9) transparent
    rgba(255, 216, 64, 0.9);
}
.home-product-item__sale-off-percent {
  margin-top: 4px;
  color: #ee4d2d;
  font-weight: 600;
  font-size: 1.2rem; /* giảm kích thước chữ của dấu % */
  line-height: 1.2rem;
  position: relative;
  top: 3px; /* điều chỉnh vị trí dấu % lên trên một chút */
  margin-left: 2px; /* tạo khoảng cách giữa số và dấu % */
  font-family: Arial, sans-serif; /* font chữ đẹp hơn cho dấu % */
}
.home-product-item__sale-off-percent-label {
  font-size: 1.2rem;
  color: var(--white-color);
  font-weight: 600;
  position: relative;
  top: 2px;
}
