.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #f6412d, #fc6232);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  padding-top: 20px;
  font-weight: 100;
  margin-top: 4px;
}

.header__navbar-item {
  margin: 0 8px 8px 0;
  position: relative;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 2.1rem;
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}
.header__navbar-item--strong {
  font-weight: 550;
  margin-bottom: 0;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 16px;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f9705c;
}
.header__navbar-item--bonus {
  margin-left: 0;
}
.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}
.header__navbar-title--no-poiter {
  cursor: text;
  color: var(--white-color);
}

/* header QR Code */
.header__navbar-item--has-qr {
  position: relative; /* Đặt vị trí cho phần tử chứa */
}
.header__qr {
  width: 200px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: 200%;
  padding: 8px;
  border-radius: 2px;
  z-index: 9999;
  display: none;
  animation: fadeIn 0.5s ease-in;
}
.header__qr::before {
  content: "";
  position: absolute;
  width: 100%;
  display: block;
  left: 0;
  height: 20px;
  top: -18px;
}
.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}
.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}
.header__qr-img {
  width: 100%;
}
/* .header__qr-link:nth-child(1) {
  margin-right: 12px;
}
.header__qr-link:nth-child(2) {
  margin-left: 12px;
} */
.header__qr-apps {
  display: flex;
  justify-content: space-between;
}
.header__qr-download-img {
  height: 20px;
}
.header__notify {
  position: absolute;
  top: 140%;
  border: 1px solid #d3d3d3;
  width: 450px;
  right: 0;
  background-color: var(--white-color);
  transform-origin: top right;
  animation: headerNotifyGrowth 0.3s ease-in;
  will-change: opacity, transform;
  display: none;
}
.header__notify::before {
  content: "";
  border-style: solid;
  border-width: 20px 30px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -27px;
  right: 12px;
}
.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  width: 110px;
  height: 20px;
  top: -13px;
  right: 0;
}
@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.header__notify-header {
  height: 30px;
  background-color: var(--white-color);
  user-select: none;
}
.header__notify-header h3 {
  color: #999;
  margin-top: 10px;
  margin-left: 5px;
  line-height: 30px;
  font-weight: 300;
}
.header__notify-list {
  padding-left: 0;
}
.header__notify-item--viewed {
  background-color: rgba(255, 111, 97, 0.1);
}
.header__notify-item {
  margin-top: 5px;
  margin-bottom: 5px;
}
.header__notify-item :hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.header__notify-link {
  display: flex;
  padding-left: 5px;
  padding-top: 10px;
  text-decoration: none;
}
.header__notify-img {
  width: 42px;
  object-fit: contain;
}
.header__notify-info {
  margin-left: 8px;
}
.header__notify-name {
  font-weight: 550;
  display: block;
  font-size: 1, 8rem;
  color: var(--text-color);
  line-height: 20px;
}
.header__notify-description {
  margin-top: 5px;
  display: block;
  font-size: 1.4rem;
  color: #756f6e;
}
.header__notify-footer {
  display: flex;
}
.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 10px;
  margin: auto;
}

/* authen modal */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}
.auth-form__container {
  padding: 0 20px;
}
.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth-form__heading {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--text-color);
}
.auth-form__switch-btn {
  font-size: 1.9rem;
  color: #f6412d;
  font-weight: 545;
  cursor: pointer;
}
.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 0 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  border-radius: 2px;
  border: 1px solid var(--border-color);
}
.auth-form__input:focus {
  outline: none;
  border-color: #888;
}
.auth-form__policy-text {
  font-size: 1.6rem;
  line-height: 20px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.auth-form__text-link {
  color: #f6412d;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}
.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}
.auth-form__controls-back {
  margin-right: 12px;
}
.auth-form__socials {
  background-color: #f5f5f5;
  padding: 14px 22px;
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  margin-top: 20px;
}
.auth-form__socials-icon {
  font-size: 2.4rem;
  margin-right: 8px;
}
.auth-form__socials--facebook {
  color: var(--white-color);
  background-color: #3b5998;
}
.auth-form__socials--facebook .auth-form__socials-icon {
  color: var(--white-color);
}
.auth-form__socials--google {
  color: var(--text-color);
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
}
.auth-form__socials-title {
  margin: 0 24px;
}
.auth-form__help {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.auth-form__help-link {
  font-size: 1.8rem;
  text-decoration: none;
  color: #939393;
}
.auth-form__help-separate {
  display: block;
  height: 17px;
  margin-left: 8px;
  margin-right: 8px;
  border-left: 2px solid #d3d3d3;
}
.auth-form__help-forgot {
  color: #f6412d;
}
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
}
.header__logo {
  width: 200px;
}
.header__logo-img {
  width: 150px;
}
.header__search {
  flex: 1;
  height: 45px;
  background-color: var(--white-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.header__cart {
  width: 200px;
  height: 30px;
  text-align: center;
}
.header__cart-icon {
  font-size: 2.6rem;
  color: var(--white-color);
}

.header__search-input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 12px;
  border-radius: 3px;
}
.header__search-select {
  border-left: 2px solid var(--border-color);
  padding-left: 16px;
}
.header__search-select-label {
  font-size: 1.8rem;
  color: black;
}
.header__search-select-icon {
  color: #4a4a4a;
  margin: 0 8px;
  font-size: 1.2rem;
  position: relative;
  top: 0px;
}
.header__search-btn {
  background-color: #f6412d;
  border: none;
  height: 37px;
  padding: 0 10px;
  margin-right: 5px;
  border-radius: 3px;
  width: 60px;
  outline: none;
}
.header__search-btn:hover {
  background-color: #fc6232;
  cursor: pointer;
}
.header__search-btn-icon {
  font-size: 1.6rem;
  color: var(--white-color);
}
